<!DOCTYPE html> 
<html>
    <head> 
        <title>CS50 EYE</title> 
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <meta name="keywords" content="Video Streaming Service, CS50, YouTube, Online Video, Harvard University, CS50 final project">
        <meta name="author" content="Lithika Damnod">
        <meta name="description" content="CS50's online video streaming service">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles.css">
        <style>
            .IDsearch{
                width: 40%;
            }
            #explore:active, #explore:visited, #explore:link{
                color: red;
            }
            #explore:hover{
                color: darkcyan;
            }
        </style>
    </head>
    <body>
        <header>
            <img src="files/logo.png" alt="CS50 EYE" width="15%" height="5%" style="float:left;">
            <input type="text" placeholder="Search" name="search" class="IDsearch" autocomplete="off" style="display:flex-left;">
            <img src="files/voiceSearch.png" alt="voice search" width="5%">
            <img src="files/upload.png" alt="upload" width="5%">
            <img src="files/bell.png" alt="notifications" width="5%">
            <img src="files/profile.png" alt="account picture" width="5%"><br><br>
            <nav>
                <a href="index.html" id="home"><img src="files/house.png" width="3%"><strong>Home</strong></a>
                <a href="explore.html" id="explore"><img src="files/explore.png" width="3%"><strong>Explore</strong></a>
                <a href="shorts.html" id="shorts"><img src="files/shorts.png" width="3%"><strong>Shorts</strong></a>
                <a href="subscription.html" id="subscription"><img src="files/subscription.png" width="3%"><strong>Subcription</strong></a>
            </nav>
        </header>
    </body>
</html> 